body {
    background-color: #FFFFFF;
    background-image: url("/i/grid-18px-masked.png");
    background-position: 0 0px;
    background-repeat: repeat-x;
    /* padding-top: 90px; */
    position: relative;
}

.masthead {
    margin-bottom: 72px;
    padding-top: 36px;
}

.jumbotron {
    position: relative;
}

.masthead h1 {
    margin-bottom: 18px;
}

.masthead h1, .masthead p {
    text-align: center;
}

.jumbotron h1 {
    font-size: 81px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 9px;
}

.masthead p {
    font-size: 30px;
    line-height: 36px;
    margin-left: 5%;
    margin-right: 5%;
}

.masthead h1, .masthead p {
    text-align: center;
}

.jumbotron p {
    font-weight: 300;
    margin-bottom: 18px;
}

.jumbotron .btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
    padding: 14px 24px;
}


hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.marketing h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 36px 0 27px;
    text-align: center;
}

.marketing p {
    margin-right: 10px;
}

h2, h3 {
line-height: 27px;
}

.marketing-byline {
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: -18px 0 27px;
    text-align: center;
}

.marketing .bs-icon {
    float: left;
    margin: 12px 8px 0 0;
    opacity: 0.8;
}


.marketing .small-bs-icon {
    float: left;
    margin: 12px 7px 0 0;
}

.marketing h2 {
    font-weight: normal;
    font-size: 1.8em;
}

.marketing h3 {
    font-weight: normal;
    font-size: 1.3em;
    line-height: 24px;
    margin-bottom: 5px;
}

.marketing h3 {
  line-height: 29px;
}

.mt10 {
  margin-top: 10px;
}

.mt30 {
  margin-top: 30px;
}


div.scr {
margin: 14px auto 60px auto;
text-align: center;
}



div.scr img {
margin: 14px auto 4px auto;
display: block;
padding: 2px;
line-height: 1;
border: 1px solid  #DDD;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

div.scr img.nb {
border: 0;
box-shadow: 0 0 0;
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075);
}

div.scr p {
font-weight: bold;
}


.bt {
border: 1px #AAA solid;
padding: 2px 3px 2px 20px;
}

.bt-edit {
background-image: url(/i/ico/pencil-small.png);
background-repeat: no-repeat;
background-position: 1px 2px;
}

.lb {
padding: 2px 2px 2px 20px;
border: 1px #CCC solid;
background-color: #EEE;
background-repeat: no-repeat;
background-position: 1px 2px;
}


.lb-task {
background-image: url(/i/ico/calendar--plus.png);
}

.lb-decision {
background-image: url(/i/ico/auction-hammer.png);
}

.lb-user {
background-image: url(/i/ico/user-gray.png);
}

.lb-user-out {
background-image: url(/i/ico/user-white.png);
}

.lb-manager {
background-image: url(/i/ico/user-red.png);
}

.lb-admin {
background-image: url(/i/ico/user-business-boss.png);
}

.lb-case {
background-image: url(/i/ico/briefcase.png);
}

.lb-office {
background-image: url(/i/ico/building-old.png);
}

.lb-office-out {
background-image: url(/i/ico/building-old-gray.png);
}

.lb-echr {
background-image: url(/i/ico/balance.png);
}

.lb-case-card {
background-image: url(/i/ico/blog-blue.png);
}

ul.li-pb10 li {
padding-bottom: 10px;
}

.sys {
    font-family: Menlo, Monaco, 'Courier New', monospace;
}