app/config/*/parameters.yml
var/bootstrap.php.cache
var/cache/*
var/logs/*
var/files/*/
!var/logs/.gitkeep
!var/files/.gitkeep
composer.phar
composer.lock
vendor/
build/
web/bundles/
web/css
web/js
web/img
web/min
web/files
.idea/*
*sublime*
nbproject/
app/config/config_*.yml
!app/config/config_test.yml
!app/config/test/parameters.yml