<?xml version="1.0"?>
<phpunit>
    <!-- Add files not covered with tests into Code Coverage Analysis -->
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../httpsdocs/classes/CB/</directory>
            <directory suffix=".php">../httpsdocs/lib/</directory>
        </whitelist>
        
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../httpsdocs/classes/CB/</directory>
            <directory suffix=".php">../httpsdocs/lib/</directory>
        </whitelist>
    </filter>
</phpunit>