@charset "utf-8";
.activity-stream {
    width: 500px;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

.activity-stream .x-view-item-focused{
    outline: inherit !important;
}

.as-record > td {
    padding: 10px 0;
}

.as-record .as-item {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    /* border-radius: 3px; */
    background-color: #fff
}

.as-record .as-item .action{
    padding: 5px;
    cursor: pointer;
}
.as-record .as-item .action-title{
    padding: 0;
    padding-left: 5px;
}
.as-record .as-item .action-title-text{
    font-size: 14px;
    margin-bottom: 4px;
}
.as-record-over{
    background-color: #efefef;
}

.activity-stream .x-item-selected{
    background-color: #dfe8f6;
}

.activity-stream .action-comments .x-item-selected {
    background-color: inherit;
}

.as-ago-time {
    color: #aeaeae;
}


.as-diff th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    /*padding-right: 5px*/
    color: #666;
    padding: 2px 10px 2px 5px;
}

.as-diff .new-value{
    color: #008C00;
}
.as-diff .old-value{
    color: #8f8f8f;
    text-decoration: line-through;
}

.action-comments .comment-input .x-form-trigger{
    width: 24px;
    background-position: 50% calc(100% - 10px);
    background-repeat: no-repeat;
    opacity: 0.4;
    border: 0;
}
.as-item .comment-input .x-form-trigger-over{
    opacity: inherit;
}

.comment-trigger-attach{
    background: url(default/s/ic_attach_file_black_18dp.png);
}

.comment-trigger-reply{
    background: url(default/s/ic_check_black_18dp.png);
}

.asNext {
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    width: 500px;
    border-radius: 7px;
    vertical-align: top;
}
.asNext span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal
}
.asNext:hover {
    text-decoration: none;
}
