/*body {font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px}*/
body {font-family: arial, sans-serif; font-size: 12px}
a {color: #15C}

/*.x-grid-row td, .x-grid-summary-row td {font: 13px "lucida grande",tahoma,verdana,arial,sans-serif}*/

.generic-object {padding: 0 5px 10px 5px; color: #555}

.generic-object a, .generic-object a:link, .generic-object a:visited, .generic-object a:hover{ color: #333; text-decoration: none}
.generic-object a:hover{ color: #286bcc; text-decoration: underline}

.x-tool-edit	{background-image:url(i/ico/gear.png)}
.x-tool-reload	{background-image:url(i/ico/arrow-circle.png)}
.x-tool-open	{background-image:url(i/ico/external.png)}
.x-tool-calendar	{background-image:url(i/ico/calendar-select-days-span.png)}
.x-tool-upload	{background-image:url(i/ico/drive-upload.png)}

.icon-chain-or {padding-left: 18px; background: url(i/ico/chain-unchain.png) 0 0 no-repeat !important}
.icon-chain-and {padding-left: 18px; background: url(i/ico/chain.png) 0 0 no-repeat !important}

.icon-chart {background-image: url(i/ico/chart.png)}
.icon-plus {background-image: url(i/ico/plus.png) !important}

.icon-incoming {background-image: url(i/ico/inbox-download.png) !important}
.icon-outgoing {background-image: url(i/ico/inbox-upload.png) !important}
.icon-print {background-image: url(i/ico/printer.png) !important}
.icon-edit {background-image: url(i/ico/document--pencil.png) !important}

.icon-case {background-image: url(i/ico/briefcase.png) !important}
.icon-lawyer {background-image: url(i/ico/user.png) !important}
.icon-folder {background-image: url(i/ico/folder-horizontal.png) !important}
.icon-globe {background-image: url(i/ico/globe-green.png) !important}
/*.summary {background-image: url(i/ico/details.gif) !important} /**/
.icon-open {background-image:url(i/ico/external.png) !important}

/* . {margin-top: 2px} */
.mainTabPanel  {background-color: #F0F0F0 !important; border: 0}

/* hide tab bar */
.mainTabPanel > div.x-tab-bar {
    display: none;
}
.mainTabPanel > div.x-panel-body {
    top: 0 !important;
}

.generic-object li {padding-bottom: 5px}

.generic-list {list-style: disc outside none}
.generic-list li {padding-left: 20px}

ul.folder-list {margin-top: 3px; list-style: disc outside none !important}
ul.folder-list li {margin-left: 20px; color: #555}

/* background: url(i/ico/folder-horizontal.png) 0 0 no-repeat !important */



/*
.folder-list span {float: right; text-align: right; width: 20px; text-align: center; font-size: 12px; background-color: #DFE8F6; padding: 0 4px;  -moz-border-radius: 4px 4px 4px 4px; color: #333}
*/

.folder-list span {float: right; text-align: right;
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 1px 2px 0 white;
    background-color: #ECECEC;
    display: inline-block;
    font-size: 10px;
    font-family: Tahoma;
    line-height: 1em;
    margin-right: 4px;
    padding: 2px 10px 3px;
    text-align: center;
    vertical-align: middle;
}

div.more {float: right; padding-top: 5px;
/*
font-size: 12px;
font-family: tahoma; font-size: 10px
*/

}

span.updated {font-size: 9px; color: #999;
/* font-family: Tahoma;
*/
}



span.info {color: #777 !important}
/*.x-grid-cell-inner, .x-grid-hd-inner { white-space:normal !important}*/



.log a, .log a:link, .log a:visited, .log a:hover{ color: black; text-decoration: none}
.log a:hover{
color: #286bcc;
text-decoration: underline;
opacity:1;
filter:alpha(opacity=100)
}


ul.log li {
color: #333;
border-bottom: 1px solid #EEE;
padding: 5px 0;
/* font: 11px/13px arial,tahoma,helvetica,sans-serif; */
}

ul.log li:hover {
background-color: #EEE;
}

ul.log a {
padding-left: 19px;
opacity:0.90;
filter:alpha(opacity=90)
}

span.decision {
background: url(i/ico/auction-hammer.png) 0 0 no-repeat;
padding: 1px 0 1px 16px;
}


span.past {
color: #777;
}

span.urgent {
font-weight: bold;
color: maroon;
}

div.letter {
padding: 1px 0 1px 20px;
/* color: #777; */
}
div.task {
padding: 1px 0 1px 19px;
color: #777;
}



div.task  b {
color: #333;
display: block;
}
div.task-info {
    color: #777;
}


div.letter {
padding: 1px 0 1px 0;
/* color: #777; */
}


div.mail {background: url(i/ico/mail.png) 0 0 no-repeat}
div.app {background: url(i/ico/document-horizontal-text.png) 0 0 no-repeat}
div.decision {background: url(i/ico/auction-hammer.png) 0 0 no-repeat}
div.complaint {background: url(i/ico/fire.png) 0 0 no-repeat}
div.echr-app {background: url(i/ico/bank.png) 0 0 no-repeat}
div.comm {background: url(i/ico/megaphone.png) 0 0 no-repeat}

a.pdf {
background: url(i/ico/document-pdf.png) 2px 0 no-repeat;
}

a.case {
background: url(i/ico/briefcase-small.png) 0 0 no-repeat !important;
}

a.decision {
background: url(i/ico/auction-hammer.png) 0 0 no-repeat;
}

a.system {
background: url(i/ico/server.png) 2px 0 no-repeat;
}

a.user-m {
background: url(i/ico/user-small.png) 0 0 no-repeat;
}

a.user-f {
background: url(i/ico/user-small-female.png) 0 0 no-repeat;
}


.icon-about {background-image:url(i/ico/about.png) ! important}
.icon-exit {background-image:url(i/ico/sign-out.png) ! important}

.filter_list {
/* width: 97%; */
padding-left: 0;
margin:7px 0 0 0;
padding:0;
list-style:none;
/* font-size:9pt; */
}

.filter_list .btn {
float: none;
height: 11pt;
}

.filter_list .btn a {
height: 11pt;
line-height: 11pt;
}

.filter_list li .btn a:hover b {
text-decoration: underline;
}

.filter_list .btn b {
height: 11pt;
line-height: 11pt;
}

.filter_list .btn i {
margin: -1px -3px 0 0;
}


.years {
width:46%;
float:left;
}

.filter_list li {
/* background:url(i/dots_bk_lgrey.gif);
background-position:bottom;
background-repeat:repeat-x; */
padding: 3px 1px 3px;
}

.filter_list li span{
width:30px;
float:right;
text-align:right
}

.filter_list li .t{
color:#999
}

.filter_list li .b{
color:#000
}

.filter_list li .n{
color:#57ab3f
}

.filter_list li.last{
/* background-image: url(i/tr.gif); */
}

.show_all {
color:#777;
padding:5px 10px 0;
margin-top:5px;
border-top:1px solid #ddd;
font-size:8pt
}

.active_filters .ttl {
color: #737573;
background-image: url(i/dots_bk_lgrey.gif);
background-repeat: repeat-x;
background-position: bottom;
padding-bottom: 5px;
display: block;
/*  font-size: 9pt; */
}

.active_filters .filter {
padding-right: 10px;
float: left;
}

.active_filters .btn .st, .active_filters .btn .st i {
padding-left: 0;
margin-left:0;
}

li.last_active_filter {
background:none;
padding-bottom:10px;
margin-bottom:5px;
border-bottom: 1px solid #ddd
}

.icon_basic_filter {
background-position: -16px -32px
}

a:hover .icon_basic_filter, span:hover .icon_basic_filter, .stactive .icon_basic_filter, .midactive .icon_basic_filter, .endactive .icon_basic_filter {
background-position: -16px -48px
}

a:hover .icon_close_red, span:hover .icon_close_red, .stactive .icon_close_red, .midactive .icon_close_red, .endactive .icon_close_red {
background-position: 0 -16px
}


.ico {
display: inline-block;
height: 16px;
width: 16px;
float: left;
}

.icobu  {
padding-left:22px;
position: relative;
display: block;
}

.icobu i {
position: absolute;
background-image: url(i/icons.png);
background-repeat: no-repeat;
display: block;
height: 16px;
width: 16px;
left: 0;
}

.icon_close_red {
background-position: 0 0
}

.icon_close_white {
background-position: -16px 0
}

a:hover .icon_close_white, span:hover .icon_close_white, .stactive .icon_close_white, .midactive .icon_close_white, .endactive .icon_close_white {
background-position: -16px -16px
}

.icon_drop_white {
background-position: -32px 0
}

a:hover .icon_drop_white, span:hover .icon_drop_white, .stactive .icon_drop_white, .midactive .icon_drop_white, .endactive .icon_drop_white {
background-position: -32px -16px
}

.icon_drop_white_up {
background-position: -32px -32px
}

a:hover .icon_drop_white_up, span:hover .icon_drop_white_up, .stactive .icon_drop_white_up, .midactive .icon_drop_white_up, .endactive .icon_drop_white_up {
background-position: -32px -48px
}

.icon_back {
background-position: -48px -32px
}

a:hover .icon_back, span:hover .icon_back, .stactive .icon_back, .midactive .icon_back, .endactive .icon_back {
background-position: -48px -48px
}

.icon_forward {
background-position: -48px 0
}

.black {
color: black !important;
}

.x-grid-row-body p {
    margin:5px 20px 10px 5px !important;
    color:#555;
}

.x-grid-row-body span {
  color: black;
  padding-left: 3px;
  padding-right: 3px;
  background-color: yellow;
}

.icon-search{background-image: url(i/ico/search.png); }
.icon-documents{background-image: url(i/ico/32/documents.png) }
.calendar-title{font-size: 16px !important; font-weight: bold !important; color: #333}

.icon-gridView {background-image: url(i/ico/_grid.png) !important}
.icon-listView { background-image: url(i/ico/_list.png) !important}
.icon-treeView { background-image: url(i/ico/_tree2.png) !important}
.icon-actionView { background-image: url(i/ico/_activity.png) !important; opacity: 0.8}
.icon-calendarView { background-image: url(i/ico/_calendar3.png) !important; opacity: 0.8}
.icon-activityView { background-image: url(i/ico/_rss.png) !important; opacity: 0.8}
.icon-taskView { background-image: url(i/ico/_task2.png) !important; opacity: 0.8}
.icon-projectView { background-image: url(i/ico/_case2.png) !important; opacity: 0.8}
.icon-infoView { background-image: url(i/ico/_info.png) !important}
.icon-folderView { background-image: url(i/ico/_folder2.png) !important; opacity: 0.7}
.icon-descendants { background-image: url(i/ico/_descendants.png) !important}
.icon-external { background-image: url(i/ico/_external2.png) !important}
.icon-myCasebox {background-image: url(i/ico/_case2.png) !important; opacity: 0.8; }
.icon-contacts {background-image: url(i/ico/_contact.png) !important; opacity: 0.8; }



.icon-back { background-image: url(i/ico/_back.png) !important}
.icon-forward { background-image: url(i/ico/_forward.png) !important}
.icon-up { background-image: url(i/ico/_up.png) !important}
.icon-chain { background-image: url(i/ico/chain.png) !important}
.icon-duplicatetab { background-image: url(i/ico/ui-tab--plus.png) !important}

.icon-folder { background-image: url(i/ico/folder.png) !important}
.icon-fav { background-image: url(i/ico/_fav.png) !important}
.icon-favplus { background-image: url(i/ico/star-plus.png) !important}

.i-star { background-image: url(i/ico/_fav.png) !important}
.i-star-negative { background-image: url(i/ico/_fav-negative.png) !important}
.i-unstar { background-image: url(i/ico/star-empty.png)}

.icon-lock { background-image: url(i/ico/_lock.png) !important}


.icon-settings { background-image: url(i/ico/_settings.png) !important}
.trigger-locate{ background-image: url(i/ico/trigger-locate.gif) !important; background-repeat: no-repeat}

.icon-refresh { background-image: url(i/ico/_refresh.png) !important}
.icon-browse, .icon-preview { background-image: url(i/ico/_zoom.png) !important}
.icon-files { background-image: url(i/ico/_clip.png) !important}
.icon-permissions { background-image: url(i/ico/_padlock.png) !important}

.icon-briefcase {background-image: url(i/ico/briefcase.png) !important; }

.x-tab-strip-active span.x-tab-strip-text {font-weight: normal !important}

/*
white background for splitter
.x-layout-split, .x-layout-collapsed {
background-color: #FFF;
}
*/


.x-panel-gray, .x-panel-gray .x-toolbar{
    background-image: none !important;
    background-color: #F4F4F4;
}

.x-panel-white .x-toolbar, .x-panel-white .x-panel-body{
    background-image: none !important;
    background-color: #FFF;
}


.x-menu-body-default {
    background: #FFF;
}

.x-panel-blue .x-toolbar{
    background-image: none !important;
    /* background-color: #FFF; */
}
.whiteTabPanel  {background-color: #FFF !important; border: 0 !important}

.whiteTabPanel ul.x-tab-strip-top {
    background-color: #FFF;
    background-image: none;
}
.main-nav .x-panel-header {
    line-height: 25px;
}

.task-grid .x-grid-col {
    padding-bottom: 15px;
}
.folder-grid .x-grid-header-ct {
    border-top: 0;
}

/*
.task-grid .x-grid-cell, .folder-grid .x-grid-cell {
    vertical-align: top;
}

*/
.task-form label {
    color: #333;
}

.versions .user {
    width: 1% !important;
    padding-right: 0;
}

.versions {
    /*font-family: "lucida grande",tahoma,verdana,arial,sans-serif;*/
    font-size: 12px;
    color: #333;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
}

.versions td {
    vertical-align: top;
    padding-bottom: 10px;
    padding: 7px 10px;
    border-bottom: 1px solid #CCC;
}

.versions td.first {
    border-top: 1px solid #CCC;
}

.versions .sel {
    background-color: #FFFFCC;
}

.versions .item:hover {
    background-color: #FFFFCC;
    cursor: pointer;
}
.versions a {color: #333; text-decoration: none; }
.versions a:hover {color: #000; text-decoration: underline; }
.trash {background-image: url(i/ico/_trash.png); }
/*.icon-trash {background-image: url(i/ico/bin.png) !important; }*/

.dttm {color: #777; }

.photo50 {
    width: 32px;
    height: 32px;
}
.versions .actions, .versions p.fn{display: none}
.versions .sel .actions, .versions .sel p.fn {
    display: block;
    padding-top: 10px;
    margin: 0;
}
.versions .current .actions{display: none}
.versions .sel .actions .del{
    color: red;
    background: url(i/ico/_trash.png) 0 50% no-repeat;
    display: inline-block;
    width:16px;
    height:16px;
}
.versions .sel .actions .download{
    color: red;
    background: url(i/ico/_download.png) 0 50% no-repeat;
    display: inline-block;
    width:16px;
    height:16px;
}
.versions .sel .actions .restore{
    background: url(i/ico/_arrow-left.png) 0 50% no-repeat;
    display: inline-block;
    width:16px;
    height:16px;
    padding-left: 18px;
}
/*.versions p.gr {margin-top: 6px;}/**/
.gridView .x-grid-row td {
    line-height: 17px;
}

.obj-files li{ border-top: 1px solid #EEE; padding: 10px 10px 10px 35px !important; background-position: 10px; }

.obj-files li {
    display: list-item;
    padding-left: 20px;
    padding-bottom: 2px;
}

.obj-files li.doc {
    background: url(/i3/document-doc.png) 0 0 no-repeat;
}

.obj-files li.pdf {
    background: url(/i3/document-pdf.png) 0 0 no-repeat;
}

.obj-files li.task {
    background: url(/i3/task.png) 0 0 no-repeat;
}

p.gr {
    margin-top: 3px;
}

.obj-files p.gr {
    color: #666;
}

.link {
    color: #15C;
    text-decoration: none;
}

.link:hover {
     text-decoration: underline;
}
.search-on {
    background-color: #FDFDB0 !important;
}
.photo32 {
    max-width: 32px;
    max-height: 32px;
}
table.item-props {
border-collapse: separate;
width: 100%;
border: none;
border-top: 0;
border-spacing: 0;
/*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
}
table.item-props td.k {
width: 30%;
color: #777;
}
table.item-props td {
vertical-align: top;
padding: 5px 7px;
border-bottom: 1px solid #DDD;
}
.path {text-decoration: none; color: #777; margin-top: 4px}
.path:hover {text-decoration: underline; }
.tasks-msg{color: #777; padding: 0 5px 10px 5px}
.tasks-msg a{color: #777; text-decoration: underline;}

table.item-props, table.duplicates  {
    border-collapse: separate;
    width: 100%;
    border: none;
    /* border-left: 0; */
    border-top: 0;
    border-spacing: 0;
    /*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
}

table.item-props  a.path, table.duplicates  a.path {
    color: #000;
}

table.duplicates  td  {
    vertical-align: top;
    padding: 5px 7px;
    border-bottom: 1px solid #DDD;
}

table.duplicates td.k {
    width: 1%;
    color: #777;
    padding-right: 0;
}

.rph {
margin-top: 25px;
padding: 5px 5px 5px 5px;
font-size: 14px;
}

/* casecard */

.casecard{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
}
.casecard a{text-decoration: underline; color: #15C; font-weight: normal;}
.casecard a:hover{color: #005580}
.casecard a.i{padding-left: 20px}

.casecard td{
    vertical-align: top;
    font-size: 13px;
    padding: 4px;
}
.casecard .casetitle{
font-size: 24px;
line-height: 36px;
text-rendering: optimizelegibility;
padding-left: 10px;
font-weight: bold;
}

.casecard .divider{
    display: block;
    margin: 15px -4px;
    height: 3px;
    background-color: #EEE;
}
.casecard .block-props{
padding: 7px;
background-color: #F9F7ED;
border: 1px solid #DDD;
}
.casecard .block-props td, .casecard .block-props th{ vertical-align: top}
.casecard .block-props th{ color: #777 }
.casecard .block-props li{ margin-bottom: 6px; }

.casecard .block-actions{
padding: 7px;
background-color: #D4E7ED;
border: 1px solid #7195A3;
}
.casecard .block-actions ul{margin: 5px 0}
.casecard .block-actions li{margin: 5px 0}
.casecard .block-actions li span.info{font-size: 11px; margin-left: 20px; color: #777}
.casecard .block-actions li span.info a {color: #777; text-decoration: none}
.casecard .block-actions li span.info a:hover {color: #15C; text-decoration: underline}
.casecard .block-tasks{
}
.casecard .block-tasks table{ border-collapse: collapse; margin: 5px 0;}
.casecard .block-tasks th{ font-weight: bold; padding: 5px;}
.casecard .block-tasks tr.done td{ color: #777;}
.casecard .block-tasks tr.done a{ text-decoration: line-through; color: #777;}
.casecard .block-tasks tr.done img{ opacity: 0.4 }
.casecard .block-milestones{
}

.mtb_link{
    padding: 0 5px;
    text-decoration: underline;
}
.account-menu .x-btn {
    background: none;
    border: 0;
    padding: 10px 15px;
}
.account-menu .x-btn-pressed {
    font-weight: bold;
}
.account-menu .x-btn:hover {
    background-color: #eaeaea;
}

div.x-preview-mask{
/*background: #eaeaea;*/
border: 0;
height: 100%;
text-align: center;
vertical-align: middle;
padding-top: 45%;
}

/* browser tree*/
.browser-tree, .x-grid-item-gray {
    background-color: #f4f4f4;
}

.browser-tree .x-grid-item-over .x-grid-item-gray,
.browser-tree .x-grid-item-selected .x-grid-item-gray {
    background-color: transparent;
}

.editor-no-border .x-html-editor-tb {
    border-width: 0;
    border-bottom-width: 1px;
}
.editor-no-border .x-html-editor-input {
    border-width: 0;
}

.complex-fieldcontainer .x-form-item {
    margin-top: 20px;
}

.complex-fieldcontainer .x-form-item .x-form-item-label-top .x-form-item-label-inner {
    padding-left: 7px
}

.complex-fieldcontainer .x-form-item .x-form-item-body {
    padding: 7px;
    border-top: 2px solid #cccccc
}

.left-bottom-tabpanel .x-tab-bar-default-bottom {
    background-color: transparent;
    background-image: none;
    border: 0;
}
