@charset "utf-8";
/* Common CSS Document */
.fs8, .fs8 *{ font-size: 8px}
.fs10, .fs10 *{ font-size: 10px}
.fs11, .fs11 *{ font-size: 11px !important}
.fs12, .fs12 *{ font-size: 12px !important}
.fs13 *{ font-size: 13px }
.fs14 *{ font-size: 14px }
.fs16 *{ font-size: 16px }
.fs18 *{ font-size: 18px }
.fs20, .fs20 *{ font-size: 20px !important}
.fwN{ font-weight: normal }
.fwB, .fwB *{ font-weight: bold !important }
.fsN{ font-style: normal }
.fsI{ font-style: italic }
.tdN{ text-decoration: none }
.tdU{ text-decoration: underline }

.taL{ text-align: left }
.taC{ text-align: center }
.taJ{ text-align: justify }
.taR{ text-align: right }
.ttU{ text-transform: uppercase }
.vaT, .vaT td{ vertical-align: top !important}
.dIB{display: inline-block !important}
.dn{display: none}

.cW{ color: white }
.cB{ color: black }
.cO{ color: #D36E01 } /* dark orange*/
.cBl, .cBl *{ color: blue !important}
.cG, .cG *{ color: gray !important }
.cGR, .cGR *{ color: green !important }
.cLG{ color:#CCCCCC }
.cR{ color: red }
.cRequired{ color: #C00 }
.cM, .cM *{ color: maroon !important }
.cDB, .cDB *{ color: #356AA0 !important } /*DiggBlue*/
.bgcLG, .bgclg{ background-color: #eee }
.bgcW{ background-color: #FFF !important }
.bgcY{ background-color: #FFFF88 !important } /*Interactive action yellow*/
.bgcLR{ background-color: #FFCCCC !important }
.gr {color: #777}
.drtl {direction: rtl}

.bgpLT{ background-position: 0 2px}
.op02{opacity: 0.2}
.op03{opacity: 0.3}
.op05{opacity: 0.5}
.op1{opacity: inherit}

.p2{ padding: 2px }
.p5{ padding: 5px }
.p10{ padding: 10px }
.p15{ padding: 15px }
.p20{ padding: 20px }
.pt10{ padding-top: 10px }
.pl7{ padding-left: 7px }
.pl10{ padding-left: 10px }
.pb5{ padding-bottom: 5px }
.pb10{ padding-bottom: 10px }
.wsn, .wsn .x-grid3-cell-inner{ white-space: normal !important }
.fl{ float: left }
.fr{ float: right }
.lh14{ line-height: 14px }
.lh16{ line-height: 16px }
.lh20{ line-height: 20px }
.lh22{ line-height: 22px }
.btg {border-top: 1px solid #EEE !important}
.brg {border-right: 1px solid #EEE !important}
.bbg {border-bottom: 1px solid #EEE !important}
.blg {border-top: 1px solid #EEE !important}

.file32{ padding-left:37px; min-height:33px; background-position: 0 50%; background-repeat: no-repeat }
.file-attach{ background-image:url(/css/i/ico/32/document-attach.png) !important; background-position: 0 50%; background-repeat: no-repeat }

.file-32, .file-unknown32 { background-image:url(/css/i/ext/32/.png) !important; background-repeat: no-repeat; min-height:33px; min-width:33px;}
.file-mp332{ background-image:url(/css/i/ext/32/mp2.png) !important}
.file-avi32{ background-image:url(/css/i/ext/32/film.png) !important}

.file-3gp32{ background-image:url(/css/i/ext/32/3gp.png) !important}
.file-7z32{ background-image:url(/css/i/ext/32/7z.png) !important}
.file-ace32{ background-image:url(/css/i/ext/32/ace.png) !important}
.file-ai32{ background-image:url(/css/i/ext/32/ai.png) !important}
.file-aif32{ background-image:url(/css/i/ext/32/aif.png) !important}
.file-aiff32{ background-image:url(/css/i/ext/32/aiff.png) !important}
.file-amr32{ background-image:url(/css/i/ext/32/amr.png) !important}
.file-asf32{ background-image:url(/css/i/ext/32/asf.png) !important}
.file-asx32{ background-image:url(/css/i/ext/32/asx.png) !important}
.file-bat32{ background-image:url(/css/i/ext/32/bat.png) !important}
.file-bin32{ background-image:url(/css/i/ext/32/bin.png) !important}
.file-bmp32{ background-image:url(/css/i/ext/32/bmp.png) !important}
.file-bup32{ background-image:url(/css/i/ext/32/bup.png) !important}
.file-cab32{ background-image:url(/css/i/ext/32/cab.png) !important}
.file-cbr32{ background-image:url(/css/i/ext/32/cbr.png) !important}
.file-cda32{ background-image:url(/css/i/ext/32/cda.png) !important}
.file-cdl32{ background-image:url(/css/i/ext/32/cdl.png) !important}
.file-cdr32{ background-image:url(/css/i/ext/32/cdr.png) !important}
.file-chm32{ background-image:url(/css/i/ext/32/chm.png) !important}
.file-dat32{ background-image:url(/css/i/ext/32/dat.png) !important}
.file-divx32{ background-image:url(/css/i/ext/32/divx.png) !important}
.file-dll32{ background-image:url(/css/i/ext/32/dll.png) !important}
.file-dmg32{ background-image:url(/css/i/ext/32/dmg.png) !important}
.file-doc32, .file-docx32{ background-image:url(/css/i/ext/32/doc.png) !important}
.file-dss32{ background-image:url(/css/i/ext/32/dss.png) !important}
.file-dvf32{ background-image:url(/css/i/ext/32/dvf.png) !important}
.file-dwg32{ background-image:url(/css/i/ext/32/dwg.png) !important}
.file-eml32{ background-image:url(/css/i/ext/32/eml.png) !important}
.file-eps32{ background-image:url(/css/i/ext/32/eps.png) !important}
.file-exe32{ background-image:url(/css/i/ext/32/exe.png) !important}
.file-film32{ background-image:url(/css/i/ext/32/film.png) !important}
.file-fla32{ background-image:url(/css/i/ext/32/fla.png) !important}
.file-flv32{ background-image:url(/css/i/ext/32/flv.png) !important}
.file-gif32{ background-image:url(/css/i/ext/32/gif.png) !important}
.file-gz32{ background-image:url(/css/i/ext/32/gz.png) !important}
.file-hqx32{ background-image:url(/css/i/ext/32/hqx.png) !important}
.file-htm32{ background-image:url(/css/i/ext/32/htm.png) !important}
.file-html32{ background-image:url(/css/i/ext/32/html.png) !important}
.file-ifo32{ background-image:url(/css/i/ext/32/ifo.png) !important}
.file-indd32{ background-image:url(/css/i/ext/32/indd.png) !important}
.file-iso32{ background-image:url(/css/i/ext/32/iso.png) !important}
.file-jar32{ background-image:url(/css/i/ext/32/jar.png) !important}
.file-jpeg32{ background-image:url(/css/i/ext/32/jpeg.png) !important}
.file-jpg32{ background-image:url(/css/i/ext/32/jpg.png) !important}
.file-lnk32{ background-image:url(/css/i/ext/32/lnk.png) !important}
.file-log32{ background-image:url(/css/i/ext/32/log.png) !important}
.file-m4a32{ background-image:url(/css/i/ext/32/m4a.png) !important}
.file-m4b32{ background-image:url(/css/i/ext/32/m4b.png) !important}
.file-m4p32{ background-image:url(/css/i/ext/32/m4p.png) !important}
.file-m4v32{ background-image:url(/css/i/ext/32/m4v.png) !important}
.file-mcd32{ background-image:url(/css/i/ext/32/mcd.png) !important}
.file-mdb32{ background-image:url(/css/i/ext/32/mdb.png) !important}
.file-mid32{ background-image:url(/css/i/ext/32/mid.png) !important}
.file-mov32{ background-image:url(/css/i/ext/32/mov.png) !important}
.file-mp232{ background-image:url(/css/i/ext/32/mp2.png) !important}
.file-mp432{ background-image:url(/css/i/ext/32/mp4.png) !important}
.file-mpeg32{ background-image:url(/css/i/ext/32/mpeg.png) !important}
.file-mpg32{ background-image:url(/css/i/ext/32/mpg.png) !important}
.file-msi32{ background-image:url(/css/i/ext/32/msi.png) !important}
.file-mswmm32{ background-image:url(/css/i/ext/32/mswmm.png) !important}
.file-ogg32{ background-image:url(/css/i/ext/32/ogg.png) !important}
.file-pdf32{ background-image:url(/css/i/ext/32/pdf.png) !important}
.file-png32{ background-image:url(/css/i/ext/32/png.png) !important}
.file-pps32, .file-ppsx32{ background-image:url(/css/i/ext/32/pps.png) !important}
.file-ps32{ background-image:url(/css/i/ext/32/ps.png) !important}
.file-psd32{ background-image:url(/css/i/ext/32/psd.png) !important}
.file-pst32{ background-image:url(/css/i/ext/32/pst.png) !important}
.file-ptb32{ background-image:url(/css/i/ext/32/ptb.png) !important}
.file-pub32{ background-image:url(/css/i/ext/32/pub.png) !important}
.file-qbb32{ background-image:url(/css/i/ext/32/qbb.png) !important}
.file-qbw32{ background-image:url(/css/i/ext/32/qbw.png) !important}
.file-qxd32{ background-image:url(/css/i/ext/32/qxd.png) !important}
.file-ram32{ background-image:url(/css/i/ext/32/ram.png) !important}
.file-rar32{ background-image:url(/css/i/ext/32/rar.png) !important}
.file-rm32{ background-image:url(/css/i/ext/32/rm.png) !important}
.file-rmvb32{ background-image:url(/css/i/ext/32/rmvb.png) !important}
.file-rtf32{ background-image:url(/css/i/ext/32/rtf.png) !important}
.file-sea32{ background-image:url(/css/i/ext/32/sea.png) !important}
.file-ses32{ background-image:url(/css/i/ext/32/ses.png) !important}
.file-sit32{ background-image:url(/css/i/ext/32/sit.png) !important}
.file-sitx32{ background-image:url(/css/i/ext/32/sitx.png) !important}
.file-ss32{ background-image:url(/css/i/ext/32/ss.png) !important}
.file-swf32{ background-image:url(/css/i/ext/32/swf.png) !important}
.file-tgz32{ background-image:url(/css/i/ext/32/tgz.png) !important}
.file-thm32{ background-image:url(/css/i/ext/32/thm.png) !important}
.file-tif32, .file-tiff32{ background-image:url(/css/i/ext/32/tif.png) !important}
.file-tmp32{ background-image:url(/css/i/ext/32/tmp.png) !important}
.file-torrent32{ background-image:url(/css/i/ext/32/torrent.png) !important}
.file-ttf32{ background-image:url(/css/i/ext/32/ttf.png) !important}
.file-txt32{ background-image:url(/css/i/ext/32/txt.png) !important}
.file-vcd32{ background-image:url(/css/i/ext/32/vcd.png) !important}
.file-vob32{ background-image:url(/css/i/ext/32/vob.png) !important}
.file-wav32{ background-image:url(/css/i/ext/32/wav.png) !important}
.file-wma32{ background-image:url(/css/i/ext/32/wma.png) !important}
.file-wmv32{ background-image:url(/css/i/ext/32/wmv.png) !important}
.file-wps32{ background-image:url(/css/i/ext/32/wps.png) !important}
.file-xls32, .file-xlsx32{ background-image:url(/css/i/ext/32/xls.png) !important}
.file-xpi32{ background-image:url(/css/i/ext/32/xpi.png) !important}
.file-zip32{ background-image:url(/css/i/ext/32/zip.png) !important}



.file{ padding-left: 17px !important; padding-top: 0; background-position: 0 50%; background-repeat: no-repeat; }
a.file{min-height: 16px; display: inline-block}
.file-grid-cell{ text-indent: 15px !important; padding-top: 0; background-position: 0 50% }

.file-, .file-unknown { background-image:url(/css/i/ext/.png) !important; background-position: 0 0%; background-repeat: no-repeat; min-width: 16px; }

.file-ppt, .file-pptx { background-image:url(/css/i/ext/ppt.png) !important }
.file-mp3 { background-image:url(/css/i/ext/mp3.png) !important }
.file-avi { background-image:url(/css/i/ext/avi.png) !important }
.file-jp2, .file-j2k, .file-pcx, .file-ppm, .file-tga{ background-image:url(/css/i/ext/img.png) !important }

.file-3gp{ background-image:url(/css/i/ext/3gp.png) !important}
.file-7z{ background-image:url(/css/i/ext/7z.png) !important}
.file-ace{ background-image:url(/css/i/ext/ace.png) !important}
.file-ai{ background-image:url(/css/i/ext/ai.png) !important}
.file-aif{ background-image:url(/css/i/ext/aif.png) !important}
.file-aiff{ background-image:url(/css/i/ext/aiff.png) !important}
.file-amr{ background-image:url(/css/i/ext/amr.png) !important}
.file-asf{ background-image:url(/css/i/ext/asf.png) !important}
.file-asx{ background-image:url(/css/i/ext/asx.png) !important}
.file-bat{ background-image:url(/css/i/ext/bat.png) !important}
.file-bin{ background-image:url(/css/i/ext/bin.png) !important}
.file-bmp{ background-image:url(/css/i/ext/bmp.png) !important}
.file-bup{ background-image:url(/css/i/ext/bup.png) !important}
.file-cab{ background-image:url(/css/i/ext/cab.png) !important}
.file-cbr{ background-image:url(/css/i/ext/cbr.png) !important}
.file-cda{ background-image:url(/css/i/ext/cda.png) !important}
.file-cdl{ background-image:url(/css/i/ext/cdl.png) !important}
.file-cdr{ background-image:url(/css/i/ext/cdr.png) !important}
.file-chm{ background-image:url(/css/i/ext/chm.png) !important}
.file-dat{ background-image:url(/css/i/ext/dat.png) !important}
.file-divx{ background-image:url(/css/i/ext/divx.png) !important}
.file-dll{ background-image:url(/css/i/ext/dll.png) !important}
.file-dmg{ background-image:url(/css/i/ext/dmg.png) !important}
.file-doc, .file-docx{ background-image:url(/css/i/ext/doc.png) !important}
.file-dss{ background-image:url(/css/i/ext/dss.png) !important}
.file-dvf{ background-image:url(/css/i/ext/dvf.png) !important}
.file-dwg{ background-image:url(/css/i/ext/dwg.png) !important}
.file-eml{ background-image:url(/css/i/ext/eml.png) !important}
.file-eps{ background-image:url(/css/i/ext/eps.png) !important}
.file-exe{ background-image:url(/css/i/ext/exe.png) !important}
.file-fla{ background-image:url(/css/i/ext/fla.png) !important}
.file-flv{ background-image:url(/css/i/ext/flv.png) !important}
.file-gif{ background-image:url(/css/i/ext/gif.png) !important}
.file-gz{ background-image:url(/css/i/ext/gz.png) !important}
.file-hqx{ background-image:url(/css/i/ext/hqx.png) !important}
.file-htm{ background-image:url(/css/i/ext/htm.png) !important}
.file-html{ background-image:url(/css/i/ext/html.png) !important}
.file-ifo{ background-image:url(/css/i/ext/ifo.png) !important}
.file-indd{ background-image:url(/css/i/ext/indd.png) !important}
.file-iso{ background-image:url(/css/i/ext/iso.png) !important}
.file-jar{ background-image:url(/css/i/ext/jar.png) !important}
.file-jpeg{ background-image:url(/css/i/ext/jpeg.png) !important}
.file-jpg{ background-image:url(/css/i/ext/jpg.png) !important}
.file-lnk{ background-image:url(/css/i/ext/lnk.png) !important}
.file-log{ background-image:url(/css/i/ext/log.png) !important}
.file-m4a{ background-image:url(/css/i/ext/m4a.png) !important}
.file-m4b{ background-image:url(/css/i/ext/m4b.png) !important}
.file-m4p{ background-image:url(/css/i/ext/m4p.png) !important}
.file-m4v{ background-image:url(/css/i/ext/m4v.png) !important}
.file-mcd{ background-image:url(/css/i/ext/mcd.png) !important}
.file-mdb{ background-image:url(/css/i/ext/mdb.png) !important}
.file-mid{ background-image:url(/css/i/ext/mid.png) !important}
.file-mov{ background-image:url(/css/i/ext/mov.png) !important}
.file-mp2{ background-image:url(/css/i/ext/mp2.png) !important}
.file-mp4{ background-image:url(/css/i/ext/mp4.png) !important}
.file-mpeg{ background-image:url(/css/i/ext/mpeg.png) !important}
.file-mpg{ background-image:url(/css/i/ext/mpg.png) !important}
.file-msi{ background-image:url(/css/i/ext/msi.png) !important}
.file-mswmm{ background-image:url(/css/i/ext/mswmm.png) !important}
.file-ogg{ background-image:url(/css/i/ext/ogg.png) !important}
.file-pdf{ background-image:url(/css/i/ext/pdf.png) !important}
.file-png{ background-image:url(/css/i/ext/png.png) !important}
.file-pps{ background-image:url(/css/i/ext/pps.png) !important}
.file-ps{ background-image:url(/css/i/ext/ps.png) !important}
.file-psd{ background-image:url(/css/i/ext/psd.png) !important}
.file-pst{ background-image:url(/css/i/ext/pst.png) !important}
.file-ptb{ background-image:url(/css/i/ext/ptb.png) !important}
.file-pub{ background-image:url(/css/i/ext/pub.png) !important}
.file-qbb{ background-image:url(/css/i/ext/qbb.png) !important}
.file-qbw{ background-image:url(/css/i/ext/qbw.png) !important}
.file-qxd{ background-image:url(/css/i/ext/qxd.png) !important}
.file-ram{ background-image:url(/css/i/ext/ram.png) !important}
.file-rar{ background-image:url(/css/i/ext/rar.png) !important}
.file-rm{ background-image:url(/css/i/ext/rm.png) !important}
.file-rmvb{ background-image:url(/css/i/ext/rmvb.png) !important}
.file-rtf{ background-image:url(/css/i/ext/rtf.png) !important}
.file-sea{ background-image:url(/css/i/ext/sea.png) !important}
.file-ses{ background-image:url(/css/i/ext/ses.png) !important}
.file-sit{ background-image:url(/css/i/ext/sit.png) !important}
.file-sitx{ background-image:url(/css/i/ext/sitx.png) !important}
.file-ss{ background-image:url(/css/i/ext/ss.png) !important}
.file-swf{ background-image:url(/css/i/ext/swf.png) !important}
.file-tgz{ background-image:url(/css/i/ext/tgz.png) !important}
.file-thm{ background-image:url(/css/i/ext/thm.png) !important}
.file-tif, .file-tiff{ background-image:url(/css/i/ext/tif.png) !important}
.file-tmp{ background-image:url(/css/i/ext/tmp.png) !important}
.file-torrent{ background-image:url(/css/i/ext/torrent.png) !important}
.file-ttf{ background-image:url(/css/i/ext/ttf.png) !important}
.file-txt{ background-image:url(/css/i/ext/txt.png) !important}
.file-vcd{ background-image:url(/css/i/ext/vcd.png) !important}
.file-vob{ background-image:url(/css/i/ext/vob.png) !important}
.file-wav{ background-image:url(/css/i/ext/wav.png) !important}
.file-wma{ background-image:url(/css/i/ext/wma.png) !important}
.file-wmv{ background-image:url(/css/i/ext/wmv.png) !important}
.file-wps{ background-image:url(/css/i/ext/wps.png) !important}
.file-xls, .file-xlsx{ background-image:url(/css/i/ext/xls.png) !important}
.file-xpi{ background-image:url(/css/i/ext/xpi.png) !important}
.file-zip{ background-image:url(/css/i/ext/zip.png) !important}


.icon-none{background: none !important}
.i16{width: 16px; height: 16px}
.i16u{width: 16px; height: 16px; background-image:url(/css/i/ext/.png)}
.i24{width: 24px; height: 24px}
.i32{width: 32px; height: 32px}
.i40{width: 40px; height: 40px}

.icon-padding, .icon-padding .x-grid3-cell-inner { padding-left: 22px !important; min-height: 16px}
.icon-padding2, .icon-padding2 .x-grid3-cell-inner { padding-left: 44px; background-position: 22px 50% !important }
.icon-padding3, .icon-padding3 .x-grid3-cell-inner { padding-left: 44px; background-position: 44px 50% !important }

.x-rtl .icon-padding, .x-rtl .icon-padding .x-grid3-cell-inner { padding-right: 22px !important; min-height: 16px; background-position: 100% 50%;}
.icon-padding16 { padding-left: 16px !important; min-height: 16px !important }


.icon-tag-small{ background-image: url(i/ico/tag-small.png) !important; background-position: 0 50%; background-repeat: no-repeat}

.bgs32{background-size: 32px 32px}
.wsNW {white-space: nowrap}
.click, .header-click{ cursor: hand; cursor: pointer; text-decoration: none }
.click:hover{ color: #286bcc !important; text-decoration: underline }
.header-click:hover{ color: #286bcc !important; text-decoration: none }


/* object field, renderer=listObjIcons */
ul.clean {list-style: none; margin: 0; padding: 0; }
ul.clean li { margin: 0; padding: 0; }
ul.with-icons li {padding-left: 20px; white-space: nowrap}
ol.ol {list-style: decimal inside !important;}
img.fit-img {
    max-width: 100%;
    max-height: 100%;
}
