.ux-icon-combo-icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 18px;
    height: 16px;
}

/* X-BROWSER-WARNING: this is not being honored by Safari */
.ux-icon-combo-input {
    padding-left: 20px;
}

.x-form-field-wrap .ux-icon-combo-icon {
    top: 3px;
    left: 3px;
}
.ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 3px 50% ! important;
    padding-left: 22px ! important;
}
