.facet{
	margin: 10px 0 20px 0;
}
.facet .x-panel-header, .activeFilters .x-panel-header{
	background: none;
	border-bottom: 1px solid #AAA !important; /* #99bce8 */
	padding: 0 5px 4px 4px;
	margin: 0;
	/*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
	font-weight: bold;
	box-shadow: none;
}

.facet .x-title-text {
	color: #333;
	text-transform: uppercase;
}

.facet .x-panel-body {
	border: none;
}

/*x-panel-body-default*/
.facet .x-tool-chain, .facet .x-tool-unchain{display: none}
.multivalued .x-tool-chain, .multivalued .x-tool-unchain{display: inline-block}

.filter_list {
	margin: 0;
	margin-top: 4px;
	padding:0;
	list-style: none;
	margin-left: 5px;
}

.filter_list li {
	line-height:16px;
	padding: 3px 10px 3px 3px;
}

.filter_list li .tick{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	background-image: url(i/squares.png);
	background-position: 0 -156px;
	background-repeat: no-repeat;
}

.x-rtl .filter_list li .tick{
	margin-right: 0;
	margin-left: 5px;
}

.filter_list .tick.active {
	background-position: 0 -104px
}

.filter_list li.toggle {
	padding: 3px 10px 0 0;
	text-align: right;
	background: none;
	font-size: 9pt;
	color: #333;
}

.filter_list .more { display: none }
.facet-expanded .filter_list .more { display: block;}
.facet-expanded .filter_list .toggle {display: none;}

.filter_list a {text-decoration: none; color: #555; }
.filter_list a:hover {text-decoration: underline; color: #000; }

.activeFilters .filter_list li{
	margin-left:0;
	background-image: url(i/squares.png);
	padding: 3px 10px 3px 24px;
	background-position: 5px -151px;
	background-repeat: no-repeat;
}

.activeFilters .filter_list li, .activeFilters .filter_list li a { background-position: 5px 6px; color: #C1272D; }
.activeFilters .filter_list li.reset, .activeFilters .filter_list li.reset a { background-position: 5px -47px; color: #676767; }
.filter_list li span{
	width:30px;
	float:right;
	text-align:right
}
.x-rtl .filter_list li span{
	float: left
}
.filter_list li .t{ color: #999 }
.filter_list li .b{ color: #000 }
.filter_list li .n{ color: #57ab3f }
.show_all {
	color:#777;
	padding:5px 10px 0;
	margin-top:5px;
	border-top:1px solid #ddd;
	font-size:8pt
}
.active_filters .filter { padding-right: 10px; float: left; }
.active_filters .btn .st, .active_filters .btn .st i { padding-left: 0; margin-left:0; }
.last_active_filter {
	background:none;
	padding-bottom:10px;
	margin-bottom:5px;
	border-bottom: 1px solid #ddd
}
.icon_basic_filter { background-position: -16px -32px }
a:hover .icon_basic_filter, span:hover .icon_basic_filter, .stactive .icon_basic_filter, .midactive .icon_basic_filter, .endactive .icon_basic_filter { background-position: -16px -48px }
a:hover .icon_close_red, span:hover .icon_close_red, .stactive .icon_close_red, .midactive .icon_close_red, .endactive .icon_close_red { background-position: 0 -16px }
.ico {
	height: 16px;
	width: 16px;
	float: left;
}
.icobu  {
	padding-left:22px;
	position: relative;
	display: block;
}
.icobu i {
	position: absolute;
	background-image: url(i/ico/icons.png);
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
	left: 0;
}
.icon_close_red {background-position: 0 0 }
.icon_close_white { background-position: -16px 0}
a:hover .icon_close_white, span:hover .icon_close_white, .stactive .icon_close_white, .midactive .icon_close_white, .endactive .icon_close_white { background-position: -16px -16px }
.icon_drop_white { background-position: -32px 0 }
a:hover .icon_drop_white, span:hover .icon_drop_white, .stactive .icon_drop_white, .midactive .icon_drop_white, .endactive .icon_drop_white { background-position: -32px -16px }
.icon_drop_white_up { background-position: -32px -32px }
a:hover .icon_drop_white_up, span:hover .icon_drop_white_up, .stactive .icon_drop_white_up, .midactive .icon_drop_white_up, .endactive .icon_drop_white_up { background-position: -32px -48px }

