.block-plugin {
    width: 100%;
    /*border: 1px solid #CCC;*/
    /*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
    border-collapse: collapse;
    table-layout: fixed;
    color: #333;
    /*margin-bottom: 30px;*/
}

.block-plugin .x-view-item-focused{
    outline: inherit !important;
}

.block-plugin a {
    text-decoration: none;
    /*color: #333;*/
}

.block-plugin tr:first-child td {
    border-top: none; /* 2px solid #CCC; */
}

.block-plugin tr:last-child td {
    border: none;
}

.block-plugin .gr {
    margin-top: 4px;
    font-size: 11px;
}

.block-plugin td {
    vertical-align: top;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 4px 10px 4px 5px;
    width: 100%;
    /*background-color: #EEE;*/
}

.block-plugin td.obj {
    padding-left: 9px;
    width: 44px;
    text-align: center;
}

.block-plugin td.elips {
    /*border-bottom: 1px solid #EEE;*/
    /*background-color: #EEE;*/
    padding: 5px 0 5px 10px;
    width: 32px;
    /*height: 32px;*/
    text-align: center;
}

.block-plugin td.elips span {
    visibility: hidden;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(i/ico/_points-gray.png) 0 0 no-repeat;
}

.block-plugin tr:hover td.elips span {
visibility: visible;
 /*cursor: pointer;*/
}

.block-plugin tr:hover {
background-color: #FFFFCC;
 /*cursor: pointer;*/
}

.block-plugin-comments .block-plugin td, .block-plugin-comments .block-plugin tr:last-child td{
    border-bottom: 1px solid #FFF;
}

.block-plugin-comments .x-panel-body {
    background-color: #f6f7f8;
}
.block-plugin-comments b.user {
    color: #3b5998;
}

.block-plugin-comments .obj-plugin-h label {
    padding: 0
}
.block-plugin-comments label {
    width: 42px;
    text-align: center;
}
.block-plugin-comments .msg-box {
    margin: 4px 10px 4px 0;
}

.block-plugin-comments .msg-box input {
    margin: 10px 2px;
}

.block-plugin-comments tr:hover {
    background-color: transparent;
}

.block-plugin-comments .comment div.comment-text {
  /*text-overflow: ellipsis;*/
  overflow: hidden;
  max-height: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.block-plugin-comments .comment div.show-all {
    display: none;
    height: 6px;
    background-image: url(default/s/ic_keyboard_control_grey600_18dp.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.block-plugin-comments .comment div.show-all:hover {
    background-image: url(default/s/ic_keyboard_control_black_18dp.png);
}

.block-plugin-comments .comment-big div.show-all {
    display: block;
}

.block-plugin-comments .comment-expanded div.comment-text{
  max-height: none;
  display: block;
  -webkit-line-clamp: auto;
}

.block-plugin-comments .comment-attachments {
    list-style-type: none;
    padding: 2px 10px;
}

.block-plugin-comments .comment-attachments li{
    padding: 2px;
    min-height: 23px;
}

.block-plugin-comments .comment-attachments li a{
    display: block;
    min-height: 16px;
}
.block-plugin-comments .comment-attachments img{
    padding: 5px 0;
}

.comment-actions-button {
display: block;
float: right;
position: absolute;
right: 5px;
width: 13px;
opacity: 0.3;
}

.comment-actions-button:hover {
opacity: 1;
cursor: pointer;
cursor: hand;
}

.load-more {
    display: none;
    padding: 2px 10px;
    color: #3b5998;
    border-bottom: 1px solid white;
}

.have-more-items .load-more {
    display: block;
}

.block-plugin a:hover {
    color: #15C;
    text-decoration: underline;
}

.obj-plugin-h {
    margin-bottom: 0;
    color: #333;
    padding: 0 5px 0 8px;
}
.obj-plugin > .x-panel-body-default {
    border-top: 2px solid #CCC;
    /* margin-bottom: 40px; */
}

.plugins-panel .obj-plugin {
    margin-bottom: 30px;
}


.action-comments .block-plugin-comments > .x-panel-body-default {
    border-top: 1px solid #CCC;
}
.action-comments .block-plugin-comments > .x-toolbar {
    display: none;
}
.obj-plugin-h .x-toolbar-left{
    vertical-align: bottom;
}
.obj-plugin label {
    /*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
}



.obj-plugin .x-form-text-wrap {
    display: block; /* table-cell; */
}

/*textarea {
    padding: 3px 4px !important;
    font: normal 12px/16px arial, verdana, sans-serif !important;
}
*/

.obj-plugin-h .x-toolbar-right {
    visibility: hidden;
}

.obj-plugin-h:hover .x-toolbar-right {
    visibility: visible;
}

.obj-plugin-h .x-toolbar {
    background: none;
}
.x-panel-noborder .obj-plugin-h .x-toolbar {
    border: 0;
}

.block-plugin2 {
    width: 100%;
    border: 0 solid #FFF;
    /*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
    border-collapse: collapse;
    table-layout: fixed;
}

.block-plugin2 td {
    border-bottom: 1px solid #FFF;
    padding: 4px 10px;
    background-color: #EEE;
    width: 100%;
}
.block-plugin2 td.obj {
    padding-right: 0;
    width: 42px;
    text-align: center;
}

.block-plugin td.obj div {
    display: inline-block;
    margin: auto;
    min-width: 16px;
    min-height: 16px;
}
.files-drop {
    display: block;
    font-weight: bold;
    color: rgb(85, 85, 85);
    background-color: rgb(228, 241, 246);
    margin-bottom: 5px;
    text-align: center;
    padding: 15px 10px;
    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: rgb(153, 218, 242);
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(153, 218, 242);
}
.drop-target .files-drop {
    border-color: green;
}
.obj-plugin {
    background-color: #fff;
}
.plugins-panel .block-plugin-comments {
    margin-bottom: 20px;
}

.obj-plugin-title {
    margin: 0 !important;
}

.taskview h2 {
    font-size: 14px;
    overflow: hidden;
}
