.icon-event{ background-image: url(i/ico/calendar-blue.png) !important; background-position: 0 0%; background-repeat: no-repeat}

.icon-task{ background-image: url(i/ico/task.png) !important; background-position: 0 50%; background-repeat: no-repeat}
.icon-task-completed{ background-image: url(i/ico/task-completed.png) !important; background-position: 0 50%; background-repeat: no-repeat}
.task-completed, .icon-task-completed b, .icon-task-completed .n, .icon-task-completed em{ color: #777; text-decoration: line-through }
.letter b em{font-weight: bold}

.icon-calendar-task{ background-image: url(i/ico/calendar-task.png) !important; background-position: 0 50%; background-repeat: no-repeat}
.icon-calendar-task-plus{ background-image: url(i/ico/calendar--plus.png) !important; background-position: 0 50%; background-repeat: no-repeat}
.icon-calendar-task-minus{ background-image: url(i/ico/calendar--minus.png) !important; background-position: 0 50%; background-repeat: no-repeat}

ul.tasks { display: block; clear: both; padding: 5px }
ul.tasks li{ padding-left: 15px}

a.btn-task-complete { font-size: 12px; color: white; font-weight: bold}

.tasks-grid .icon-grid-column{background-position: 2px 2px !important}

.task-status{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; padding: 2px 5px}
.task-status-active{ background-color: black; color: white}
.task-status-closed{ background-color: #637626; color: white}
.task-status-overdue{ background-color: #c00000; color: white}

.task-status00{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: #D36E01; color: white; padding: 2px 5px} /*pending, not completed*/
.task-status01{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: #D36E01; color: white; padding: 2px 5px} /*pending, completed*/
.task-status10{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: black; color: white; padding: 2px 5px} /*active, not completed */
.task-status11{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: green; color: white; padding: 2px 5px} /*active, completed */
.task-status20{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: gray; color: yellow; padding: 2px 5px}/*closed, not completed*/
.task-status21{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: gray; color: white; padding: 2px 5px}/*closed, completed*/

.icon-task-user-status0 { background-image: url(i/ico/question-white.png) !important; background-position: 0 50%; background-repeat: no-repeat}
.icon-task-user-status1 { background-image: url(i/ico/tick.png) !important; background-position: 0 50%; background-repeat: no-repeat}

.task-missed{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: red; color: white; padding: 3px 10px; text-align: center; font-weight: bold}/* missed */

.task-blue{ background-image: url(i/cl/blue.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-gray{ background-image: url(i/cl/gray.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-green{ background-image: url(i/cl/green.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-maroon{ background-image: url(i/cl/maroon.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-olive{ background-image: url(i/cl/olive.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-orange{ background-image: url(i/cl/orange.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-brown{ background-image: url(i/cl/brown.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-peach{ background-image: url(i/cl/peach.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-purple{ background-image: url(i/cl/purple.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-red{ background-image: url(i/cl/red.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-steel{ background-image: url(i/cl/steel.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-teal{ background-image: url(i/cl/teal.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-yellow{ background-image: url(i/cl/yellow.png) !important; background-position: 0 50%; background-repeat: no-repeat;}

.task-darkblue{ background-image: url(i/cl/darkblue.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkgray{ background-image: url(i/cl/darkgray.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkgreen{ background-image: url(i/cl/darkgreen.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkmaroon{ background-image: url(i/cl/darkmaroon.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkolive{ background-image: url(i/cl/darkolive.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkorange{ background-image: url(i/cl/darkorange.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkpeach{ background-image: url(i/cl/darkpeach.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkpurple{ background-image: url(i/cl/darkpurple.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkred{ background-image: url(i/cl/darkred.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darksteel{ background-image: url(i/cl/darksteel.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkteal{ background-image: url(i/cl/darkteal.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
.task-darkyellow{ background-image: url(i/cl/darkyellow.png) !important; background-position: 0 50%; background-repeat: no-repeat;}

.taskview {background-color: #FFF; padding: 10px 15px; font: 13px/normal Arial,sans-serif }
.taskview h2 { font-weight: bold }
.taskview h2.completed  { color: #555; text-decoration: line-through }
.taskview .path {color: #777 }

.taskview .datetime {padding: 10px 0px; }
.taskview .info {color: #777; padding-bottom: 10px; border-bottom: 1px solid #EEE; }
.taskview .props {width: 100%; margin-top: 10px; font: 13px/normal Arial,sans-serif; }
.taskview .props td {padding: 5px 0px; vertical-align: top; }
.taskview .props td.k {width: 1%; padding-right: 15px; color: #777; }
.taskview .props .status1, .taskStatus1 {font-size: 10px; background-color: #B00; color: #FFF; padding: 1px 3px; margin: 1px 0px; display: inline-block; }
/*.taskview .props .status1, .taskStatus1 {background-color: #EE0000; color: white; padding: 2px 4px; font-weight: normal; }/**/
.taskview .props .status3, .taskStatus3 {background-color: green; color: white; padding: 2px 4px; font-weight: normal; }
.taskview .people {
    /*font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; */
    color: #333;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
}

.taskview .people td {vertical-align: top; padding: 5px 5px 5px 0px; }
.taskview .people .user {width: 1% !important; padding-right: 5px; }
.taskview .people tr a.bt{display: none; margin-left: 5px; } .taskview .people tr:hover a.bt{display: inline; }
ul.reminders a {text-decoration: none; color: #333; }
ul.task_files a {text-decoration: underline; color: #15C; }
ul.reminders li span, ul.task_files li .actions {cursor: hand; display: none }
ul.reminders li:hover span, ul.task_files li:hover .actions {display: inline-block; }
.people .done {position: absolute; left: 20px; top: 20px; }

.task-actions {
    padding: 10px;
    /*border-bottom: 1px solid #ddd;*/
}

.task-actions a{
    display: inline-block;
    background-position: 50% 0;
    background-repeat: no-repeat;
    padding: 32px 5px 3px 5px;
    color: gray;
    cursor: hand;
    cursor: pointer;
}
.task-actions a:hover {
    text-decoration: none;
    color: black;
}
.task-date-status{
display: inline-block;
width: 100%;
}

.task-date-status div{
display: inline-block;
padding: 5px 10px;
margin: 12px 5px;
}

.task-date-status .date{
float: left;
}

.task-date-status .status{
float: right;
}
