/* ib stands for icon big */
.ib-apps{background-image: url(b/apps.png); min-width: 38px}
.ib-arr-l{background-image: url(b/arr_l.png); min-width: 38px}
.ib-arr-r{background-image: url(b/arr_r.png); min-width: 38px}
.ib-attach{background-image: url(b/attach.png); min-width: 38px}
.ib-back{background-image: url(b/back.png); min-width: 38px}
.ib-browse{background-image: url(b/browse.png); min-width: 38px}
.ib-cal-day{background-image: url(b/cal-day.png); min-width: 38px}
.ib-cal-month{background-image: url(b/cal-month.png); min-width: 38px}
.ib-cal-today{background-image: url(b/today.png); min-width: 38px}
.ib-cal-week{background-image: url(b/cal-week.png); min-width: 38px}
.ib-cal-prev,.ib-prev{background-image: url(b/prev.png); min-width: 38px}
.ib-cal-next, .ib-next{background-image: url(b/next.png); min-width: 38px}
.ib-cancel{background-image: url(b/cancel.png); min-width: 38px}
.ib-create{background-image: url(b/ic_add_circle_black_36dp.png); min-width: 38px}
.ib-del{background-image: url(b/delete.png); min-width: 38px}
.ib-done, .ib-complete{background-image: url(b/ic_done_black_36dp.png); min-width: 38px}
.ib-done-all, .ib-close{background-image: url(b/ic_done_all_black_36dp.png); min-width: 38px}
.ib-download{background-image: url(b/download.png); min-width: 38px}
.ib-edit{background-image: url(b/clipboard.png); min-width: 38px}
.ib-edit-obj{background-image: url(b/edit.png); min-width: 38px}
.ib-event-new{background-image: url(b/cal-event-new.png); min-width: 38px}
.ib-expand{background-image: url(b/expand.png); min-width: 38px}
.ib-export{background-image: url(b/export.png); min-width: 38px}
.ib-external{background-image: url(b/external.png); min-width: 38px}
.ib-filter{background-image: url(b/ic_filter_list_black_36dp.png); min-width: 38px}
.ib-filter-on{background-image: url(b/filter-on.png); min-width: 38px}
.ib-fit{background-image: url(b/fit.png); min-width: 38px}
.ib-open{background-image: url(b/open.png); min-width: 38px}
.ib-points{background-image: url(b/points.png); min-width: 20px}
.ib-preview{background-image: url(b/preview.png); min-width: 38px}
.ib-properties{background-image: url(b/properties.png); min-width: 38px}
.ib-refresh{background-image: url(b/refresh.png); min-width: 38px}
.ib-restore{background-image: url(b/restore.png); min-width: 38px}
.ib-reorder{background-image: url(b/ic_reorder_black_36dp.png); min-width: 38px}
.ib-repeat, .ib-reopen{background-image: url(b/ic_repeat_black_36dp.png); min-width: 38px}
.ib-save{background-image: url(b/save.png); min-width: 38px}
.ib-search{background-image: url(b/ic_search_black_36dp.png); min-width: 38px}
.ib-search-negative{background-image: url(b/ic_search_black_36dp_negative.png); min-width: 38px}
.ib-settings{background-image: url(b/ic_settings_applications_grey600_36dp.png); min-width: 38px}
.ib-table{background-image: url(b/table.png); min-width: 38px}
.ib-task-complete{background-image: url(b/task-complete.png); min-width: 38px}
.ib-task-new{background-image: url(b/task-new.png); min-width: 38px}
.ib-trash{background-image: url(b/trash.png); min-width: 38px}
.ib-upload{background-image: url(b/upload.png); min-width: 38px}
.ib-updateSolrData{background-image: url(b/ic_autorenew_black_36dp.png); min-width: 38px}
.ib-view-list{background-image: url(b/list.png); min-width: 38px}
.ib-view-tasks{background-image: url(b/tasks.png); min-width: 38px}
.ib-view-calendar{background-image: url(b/calendar.png); min-width: 38px}
.ib-view-charts{background-image: url(b/charts.png); min-width: 38px}
.ib-chart-area{background-image: url(b/chart-area.png); min-width: 38px}
.ib-chart-bar{background-image: url(b/chart-bar.png); min-width: 38px}
.ib-chart-bar-stacked{background-image: url(b/chart-bar-stacked.png); min-width: 38px}
.ib-chart-column{background-image: url(b/chart-column.png); min-width: 38px}
.ib-chart-column-stacked{background-image: url(b/chart-column-stacked.png); min-width: 38px}
.ib-chart-line{background-image: url(b/chart-line.png); min-width: 38px}
.ib-chart-pie{background-image: url(b/chart-pie.png); min-width: 38px}
.ib-chart-table{background-image: url(b/chart-table.png); min-width: 38px}

.im-apps{background-image: url(m/ic_apps_black_24dp.png); min-width: 24px}
.im-arr-l{background-image: url(m/ic_chevron_left_black_24dp.png); min-width: 24px}
.im-arr-r{background-image: url(m/ic_chevron_right_black_24dp.png); min-width: 24px}
.im-assignment{background-image: url(m/ic_assignment_black_24dp.png); min-width: 24px}
.im-attach{background-image: url(m/ic_attach_file_black_24dp.png); min-width: 24px}
.im-cancel{background-image: url(m/ic_clear_black_24dp.png); min-width: 24px}
.im-create{background-image: url(m/ic_add_circle_black_24dp.png); min-width: 24px}
.im-create-negative{background-image: url(m/ic_add_circle_black_24dp_negative.png); min-width: 24px}
.im-download{background-image: url(m/ic_file_download_black_24dp.png); min-width: 24px}
.im-duplicate{background-image: url(m/ic_control_point_duplicate_black_24dp.png); min-width: 24px}
.im-edit-obj{background-image: url(m/ic_edit_black_24dp.png); min-width: 24px}
.im-external{background-image: url(m/ic_launch_black_24dp.png); min-width: 24px}
.im-fit{background-image: url(m/ic_open_with_black_24dp.png); min-width: 24px}
.im-filter{background-image: url(m/ic_filter_list_black_24dp.png); min-width: 24px}
.im-filter-negative{background-image: url(m/ic_filter_list_black_24dp_negative.png); min-width: 24px}
.im-follow, .i-follow{background-image: url(m/ic_email_black_18dp.png); min-width: 24px}
.im-ignore, .i-ignore{background-image: url(m/ic_notifications_none_black_18dp.png); min-width: 24px}
.im-menu{background-image: url(m/ic_menu_black_24dp.png); min-width: 24px}
.im-menu-negative{background-image: url(m/ic_menu_black_24dp_negative.png); min-width: 24px}
.im-notifications{background-image: url(m/ic_notifications_black_24dp.png); min-width: 24px}
.im-notifications-negative{background-image: url(m/ic_notifications_black_24dp_negative.png); min-width: 24px}
.im-points{background-image: url(m/ic_more_vert_black_24dp.png); min-width: 24px}
.im-preview{background-image: url(m/ic_visibility_black_24dp.png); min-width: 24px}
.im-refresh{background-image: url(m/ic_refresh_black_24dp.png); min-width: 24px}
.im-reorder{background-image: url(m/ic_reorder_black_24dp.png); min-width: 24px}
.im-restore{background-image: url(m/ic_undo_black_24dp.png); min-width: 24px}
.im-search{background-image: url(m/ic_search_black_24dp.png); min-width: 24px}
.im-save, .im-task-complete{background-image: url(m/ic_done_black_24dp.png); min-width: 24px}
.im-settings{background-image: url(m/ic_settings_applications_black_24dp.png); min-width: 24px}
.im-settings-negative{background-image: url(m/ic_settings_white_24dp.png); min-width: 24px}
.im-sort{background-image: url(m/ic_sort_black_24dp.png); min-width: 24px}
.im-star{background-image: url(m/ic_star_black_18dp.png); min-width: 24px}
.im-unstar{background-image: url(ic_star_outline_black_18dp.png); min-width: 24px}
.im-tune{background-image: url(m/ic_tune_black_24dp.png); min-width: 24px}
.im-upload{background-image: url(m/ic_file_upload_black_24dp.png); min-width: 24px}
.im-trash{background-image: url(m/ic_delete_black_24dp.png); min-width: 24px}
.im-watch, .i-watch{background-image: url(m/ic_notifications_active_black_18dp.png); min-width: 24px}

.x-menu-item .ib-browse{background-image: url(s/folder-horizontal-open.png); background-position: 0 50%; background-repeat: no-repeat}
.x-menu-item .ib-del{background-image: url(s/cross-script.png); background-position: 0 50%; background-repeat: no-repeat}
.x-menu-item .ib-event-new{background-image: url(s/calendar-blue.png); background-position: 0 50%; background-repeat: no-repeat}
.x-menu-item .ib-open{background-image: url(s/folder-open.png); background-position: 0 50%; background-repeat: no-repeat}
.x-menu-item .ib-task-new{background-image: url(s/task.png); background-position: 0 50%; background-repeat: no-repeat}


.i-arrow-right {background-image: url(s/ic_keyboard_arrow_right_black_18dp.png); background-position: 0 50%; background-repeat: no-repeat; min-height: 18px;}
.i-attach {background-image: url(s/ic_attach_file_black_18dp.png); background-position: 0 50%; background-repeat: no-repeat; min-height: 18px;}
.i-refresh {background-image: url(s/refresh.png); background-position: 0 50%; background-repeat: no-repeat}
.i-points, .x-tool-points {background-image: url(s/points-gray.png); background-position: 0 50%; background-repeat: no-repeat}

.i-flag, .x-grid-tree-node-expanded .i-flag{background-image: url(s/flag.png); background-position: 0 50%; background-repeat: no-repeat}
.is-flag, .x-grid-tree-node-expanded .is-flag{background-image: url(s/flag-small.png); background-position: 0 50%; background-repeat: no-repeat}
.i-magnifier, .x-grid-tree-node-expanded .i-magnifier{background-image: url(s/magnifier.png); background-position: 0 50%; background-repeat: no-repeat}
.i-building, .x-grid-tree-node-expanded .i-building{background-image: url(s/building.png); background-position: 0 50%; background-repeat: no-repeat}
.i-book-open, .x-grid-tree-node-expanded .i-book-open{background-image: url(s/book-open.png); background-position: 0 50%; background-repeat: no-repeat}
.i-bullet-arrow-down{background-image: url(s/bullet_arrow_down.png); background-position: 0 50%; background-repeat: no-repeat}
.i-chat-bubble{background-image: url(s/ic_chat_bubble_black_18dp_1x_gray.png); background-position: 0 50%; background-repeat: no-repeat}
.i-check-alt{background-image: url(s/check-alt.png)}
.i-cancel{background-image: url(s/cancel.png)}
.i-edit-obj{background-image: url(s/ic_edit_black_18dp.png)}
.i-info{background-image: url(s/ic_info_black_18dp.png)}
.i-list{background-image: url(s/ic_list_black_18dp.png)}
.i-trash{background-image: url(s/trash.png)}
.i-table-export{background-image: url(s/table-export-gray.png)}
.i-cross{background-image: url(s/cross.png)}
.i-plus{background-image: url(s/plus.png)}
.i-restore{background-image: url(s/ic_reply_black_18dp.png)}
.i-settings{background-image: url(s/ic_settings_black_18dp.png)}
.i-start{background-image: url(s/ic_play_arrow_black_18dp.png)}
.i-stop{background-image: url(s/ic_stop_black_18dp.png)}
.i-shortcut{background-image: url(s/shortcut-overlay.png)}


.calendar-mono, .x-tool-period {background-image: url(s/calendar-mono.png); background-position: 0 50%; background-repeat: no-repeat}
/* drag drop classes */
.drag-drop-copy .x-dd-drop-icon{background-image:url(s/document-copy.png)}
.drag-drop-move .x-dd-drop-icon{background-image:url(s/document--arrow.png)}
.drag-drop-shortcut .x-dd-drop-icon{background-image:url(s/external.png)}

/* preview */
.preview-thumb {
/*    opacity: 1;
    transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

*/
    width: 128px;
    height: 128px;
    background-image: url(l/none-icon.png);
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    border: 1px solid #FFF;
    padding: 3px;
}

.preview-thumb:hover {
    /*opacity: 0.5*/
    border: 1px solid #BBB;
    background-color: #edeff4;
    border-radius: 4;
}

.pr-th-doc, .pr-th-docx {background-image: url(l/word.png) }
.pr-th-pdf {background-image: url(l/pdf.png) }

.d-loader {
    background-image: url(d/loader.gif);
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.x-mask-loading .x-mask-msg-text {
    background-image: url(d/loader.gif);
    background-position: 6px 50%;
    background-repeat: no-repeat;
}
.x-mask-loading .x-mask-msg-text{
    padding-left: 30px;
}
.msg-load{
    vertical-align: middle;
    width: 100% !important;
    display: block;
}

.msg-load div {
    display: inline-block;
    padding: 4px 28px;
}
.webdav .x-window-body {background: white}

/** data sorter widget rules */
.x-grid-cell-inner .order-arrows {
  float: right;
  display: none
}
.x-grid-item-selected .x-grid-cell-inner .order-arrows {
    display: block
}

span.order-arrows b {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 3px;
  opacity: 0.5
}
span.order-arrows b:hover {
    text-decoration: none;
    opacity: 1;
}

span.order-arrows b.arrow-up {
  background-image: url(s/ic_arrow_drop_up_black_24dp.png);
  background-position: -5px;
}

span.order-arrows b.arrow-down {
  background-image: url(s/ic_arrow_drop_down_black_24dp.png);
  background-position: -5px;
}

/* notifications view */
.notification-record-unread {
  background-color: rgba(237,239,245,.98);
  /*border-bottom: 1px solid #CCC;*/

}
.x-grid-item-over .notification-record-unread{
  background-color: rgba(227,229,235,.98);;
}

.notif {
  color: #9197a3;
}

.notif a {
  color: #3b5998;
}

.notif a.user {
  font-weight: bold;
}
